body {
	background: #544335;
	margin: 0;
}
table, td, th {
	border: 4px;
	border-style: solid;
	border-color: #544335;
	border-collapse: collapse;
	background: #aa8f79;
	
}
.profil {
	width: 33.3%;
	text-align: center;
	float: left;
}
.focim {
	font-family: "Arial", Serif;
	font-size: 6vh;
	text-align: center;
}
.focim-elso {
		font-family: "Arial", Serif;
	font-size: 6vh;
	text-align: center;
		padding-top: 50px;
}
.alcim {
	margin: 20px;
	color: #1a0000;
	font-size: 4vh;
	font-family: "Arial", Serif;
}
.bekezdes {
	margin: 20px;
	color: #1a0000;
	font-size: 3vh;
	font-family: "Arial", Serif;
}
.lista {
	
	font-size: 3vh;
	font-family: "Times New Roman", Times, serif;
	
}
.alap {
    margin: auto;
	margin-bottom: -20px;
	padding-bottom: -40px;
	width: 90vw;
	background: #836953;
	display: block;
	padding-top: 50px;
	color: #1a0000;
	min-height: 600px
}
.torzs {
	
	height: 70%;
}
.arkep {
	margin: auto;
	width: 100%;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5vh;
	overflow: hidden;
}
.aljakep {
	margin: 0px;
	width: 100%;
	padding-bottom: -50px;
	margin-bottom: -50px;
	bottom: 0px;
	
}
.jobboskep {
	margin-left: 20px;
	margin-top: 0 px;
	margin-top: -50px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: right;
	width: 20%;
	height: 20%;

}

.navbar {
  overflow: hidden;
  background-color: #544335;
  border-bottom: 1px solid Black;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 50px;
  

}
.navbar a {
  float: left;
  font-size: 4vh;
  height: 5vh;
  color: #536d83;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  float: right;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 4vh; 
  border: none;
  outline: none;
  color: #536d83;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:  #536d83;
  color: #544335;
}
.subnav-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #536d83;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid Black;
  position: fixed;
  width: 100%;
}
.subnav-content a {
  float: right;
  color: #544335;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #544335;
  color: #536d83;
}
.subnav:hover .subnav-content {
  display: block;
}
.kalkulator {
	
	height: 4vh;
	font-size: 4vh;
	
	
}
.valasztas {
	
	height: 4vh;
	font-size: 2vh;
	
}
.vonal {
	
	size: 3px;
	noshade: noshade;
	color: #544335;
	
}
